.App-header {
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
  margin: auto;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: $header-color;
  color: $text-primary-color;
  @include verticalCenter;

  a {
    text-decoration: none;

    &:hover {
      color: $spotify-color;
    }
  }

  &-left {
    display: flex;
    flex-wrap: nowrap;

    h1 {
      margin: auto;
    }

    img {
      height: 50px;
      margin-right: 10px;
    }
  }

  &-right {
    width: 50%;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    & > * {
      margin: 5px;
    }

    button {
      @include buttonStyle;
    }

    form {
      display: flex;
      flex-wrap: nowrap;

      input {
        padding: 10px;
        margin-right: -30px;
        font-size: 16px;
        color: #000000;
        border: none;
        border-radius: 28px;
        &:focus {
          outline: none;
        }
      }
    }
  }
}
