@mixin inputRange {
  input[type="range"] {
    -webkit-appearance: none;
    margin: 10px 0;
    width: 20vw;
    max-width: 110px;
    border-radius: 50px;
  }
  input[type="range"]::-webkit-slider-runnable-track {
    height: 5px;
    cursor: pointer;
    background: $spotify-color;
    border-radius: 50px;
  }
  input[type="range"]::-webkit-slider-thumb {
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -5px;
  }
}

@mixin iconStyle {
  position: static;
  font-size: 2vmax;
  margin: 10px;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
  }
  &:active {
    position: relative;
    top: 1px;
  }
}

.App-player {
  @include horizontalCenter;
  position: fixed;
  bottom: 0;
  z-index: 99;
  width: 100%;
  margin: auto;
  background: $header-color;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  #pauseBtn,
  #muteVolBtn {
    display: none;
  }

  &-info {
    width: 25vw;
    margin: 10px;
    text-align: start;
  }

  &-volume {
    @include verticalCenter;
    @include inputRange;
    margin: 10px;

    .volume-icon {
      @include iconStyle;
    }
  }

  &-control {
    .controls-icon {
      @include iconStyle;
      margin: 10px;
    }

    &-time {
      position: fixed;
    }
  }

  button {
    @include buttonStyle;
  }
}
