.App-tracks {
  .track {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    cursor: pointer;

    &:hover {
      background-color: #272727;
    }

    &-info {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;

      &-number {
        margin-right: 2vw;
      }

      &-artistsAndTracks {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-start;

        .artist {
          color: $text-secondary-color;
        }
      }
    }
  }
}
