$font-1: sans-serif;

$background-color: #121212;
$header-color: #000000;
$text-primary-color: #ffffff;
$text-secondary-color: #a8a8a8;
$spotify-color: #1fd760;
$card-color: #181818;

@mixin buttonStyle {
  background-color: #000000;
  border-radius: 28px;
  border: 2px solid $spotify-color;
  display: inline-block;
  cursor: pointer;
  color: $text-primary-color;
  padding: 10px 30px;
  text-decoration: none;
  &:active {
    position: relative;
    top: 1px;
  }
}

@mixin iconStyle {
  position: static;
  font-size: 4vh;
  margin: 10px;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
  }
  &:active {
    position: relative;
    top: 1px;
  }
}

@mixin verticalCenter {
  display: flex;
  //justify-content: center;
  align-items: center;
}

@mixin horizontalCenter {
  display: flex;
  flex-direction: column;
  text-align: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: $text-primary-color;
}

body {
  background: $background-color;
  font-family: $font-1;
}

li {
  list-style-type: none;
}
