$font-1: sans-serif;

$background-color: #121212;
$header-color: #000000;
$text-color: #ffffff;
$spotify-color: #1fd760;

@mixin buttonStyle {
  background-color: transparent;
  border-radius: 28px;
  border: 2px solid $spotify-color;
  display: inline-block;
  cursor: pointer;
  color: $text-color;
  padding: 10px 30px;
  text-decoration: none;
  &:active {
    position: relative;
    top: 1px;
  }
}

@mixin verticalCenter {
  display: flex;
  //justify-content: center;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: $text-color;
}

body {
  background: $background-color;
  font-family: $font-1;
}

li {
  list-style-type: none;
}
